# Local macOS Developer ID signing and notarization template.
# Copy to .env.release.local; that local file is ignored by Git.
APPLE_SIGNING_IDENTITY=''
APPLE_TEAM_ID=''
APPLE_ID=''
APPLE_PASSWORD=''
