// 采用Sass官方推荐的@use语法替换@import，避免未来版本兼容性问题
@use './variables.scss' as *;

.#{$prefix-cls}-on-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .icon {
    font-size: 80px;
    color: var(--color-text-tertiary, #aaa);
  }
}
