:root {
    --color-primary: #268bd2;
    --color-background: #fdf6e3;
    --color-accent: #2aa198;
    --color-text: #657b83;
    --color-card: #eee8d5;
    --color-button: #268bd2;
    --color-border: #93a1a1;
}
