:root,
[data-theme] {
    --color-bg: #fdf6e3;
    --color-bg-secondary: #eee8d5;
    --color-text: #657b83;
    --color-text-secondary: #93a1a1;
    --color-border: #93a1a1;
    --color-shadow: rgba(0, 0, 0, 0.07);
    --color-primary: #268bd2;
    --color-primary-rgb: 38, 139, 210;
    --color-primary-light: #b3cde3;
    --color-success: #859900;
    --color-warning: #b58900;
    --color-danger: #dc322f;
    --color-info: #2aa198;
    --color-info-bg: #eee8d5;
    --color-btn-bg: #268bd2;
    --color-btn-hover: #2aa198;
    --color-card-bg: #fdf6e3;
    --color-card-border: #93a1a1;
    --color-card-shadow: rgba(0, 0, 0, 0.07);
    --color-card-selected: #b3cde3;
    --color-placeholder: #b6c2d1;
    --color-disabled: #bdbdbd;
    --color-skeleton-from: #eee8d5;
    --color-skeleton-to: #fdf6e3;
    --color-toolbar-bg: #eee8d5;
    --color-white: #fff;
    --color-black: #000;
    --color-white-alpha: rgba(255, 255, 255, 0.7);
    --color-tree-bg: #eee8d5;
    --color-tree-selected: #268bd2;
    --color-tree-text: #657b83;
    --color-tree-border: #93a1a1;
    --color-tree-hover: #b3cde3;
    --color-tree-hover-text: #268bd2;
    --color-tree-active: #268bd2;
    --color-tree-active-text: #fff;
    --color-tree-disabled-bg: #eee8d5;
    --color-tree-disabled-text: #bbb;
    --color-card-hover: #b3cde3;
    --color-card-hover-border: #268bd2;
    --color-card-hover-shadow: rgba(0, 0, 0, 0.12);
    --color-card-active: #b3cde3;
    --color-card-active-border: #268bd2;
    --color-card-disabled: #eee8d5;
    --color-card-disabled-text: #bbb;
    --color-card-disabled-border: #eee8d5;
    --color-footer-bg: #eee8d5;
    --color-footer-text: #657b83;
    --color-footer-border: #93a1a1;
    --color-statusbar-fg: #859900;
    --color-scrollbar-bg: #eee8d5;
    --color-scrollbar-thumb: #93a1a1;
    --color-scrollbar-thumb-hover: #268bd2;
    --color-splitter-bg: #93a1a1;
    --color-splitter-border: #eee8d5;
    --color-splitter-hover: #268bd2;
    --color-image-item-bg: #f5f5e3;
    --color-list-bg: #fdf6e3;
    --color-list-header-bg: #eee8d5;
    --color-list-footer-bg: #eee8d5;
    --color-list-border: #93a1a1;
    --color-list-item-bg: #fdf6e3;
    --color-list-item-hover-bg: #b3cde3;
    --color-list-item-active-bg: #b3cde3;
    --color-list-item-meta-title: #657b83;
    --color-list-item-meta-description: #93a1a1;
    --color-list-split: #93a1a1;
    --color-list-empty-bg: #eee8d5;
    --color-list-skeleton-bg: #eee8d5;
    --color-descriptions-title: #657b83;
    --color-descriptions-header-bg: #eee8d5;
    --color-descriptions-bordered: #93a1a1;
}
